svg {
  vertical-align: baseline;
}

.form-group {
  margin-bottom: 1rem;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
}

.slider img,
.card-image {
  height: 450px;
  object-fit: cover;
}

.ant-card-meta-title {
  white-space: pre-line;
}
